/*
Author: Erik Westrup
Date: yymmdd
I have used a commenting system like the following in this style sheet:

Main category
++++++++++++++++++++++
	Subcategoty level 1
	----------------------
		Subcategory level 2
		======================
*/

/* Table of Contents
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
Color Palette
+++++++
Body
+++++++
Links
+++++++
Design
+++++++
	Logo
	-------
	Menu
	-------
	Menu items
	-------
	Content
	-------
*/		

/* Color Palette
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
#ABCDEF - Color 1
#123456 - Color 2
*/

/* Body
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
body {
	margin: 0px;
	padding: 0px;
	background-color: #FFF;
	font-family: Verdana, Helvetica, "Sans Serif";
	font-size: 12px;
	color: #000;
}

/* Links
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
a:link {
	color: #0000FF;
	text-decoration: underline;
}
a:visited {
	color: #FF0000;
	text-decoration: underline;
}
a:active {
	color: #0000FF;
	text-decoration: underline;
}
a:hover {
	color: #0000FF;
	text-decoration: underline;
}

/* Design
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

/* Logo
----------------------------------------------------------------------------------------------------*/

/* Menu
----------------------------------------------------------------------------------------------------*/

/* Menu items
----------------------------------------------------------------------------------------------------*/

/* Content
----------------------------------------------------------------------------------------------------*/



#container {

}